openapi: 3.2.0
info:
  contact:
    email: sales@subspace.com
    name: Sales
    url: https://subspace.com
  description: '# Introduction


    The Subspace API is based on REST, has resource-oriented URLs, returns JSON-encoded responses, and returns standard HTTP response codes.'
  license:
    name: CC BY-NC-ND 4.0
    url: https://creativecommons.org/licenses/by-nc-nd/4.0/
  title: Subspace Product Sip Teleport Service API
  version: '1.0'
servers:
- description: Current API host server
  url: https://api.subspace.com
security:
- accessCode:
  - accelerators:read
  - accelerators:write
  - sipteleport:read
  - sipteleport:write
tags:
- name: SipTeleportService
paths:
  /v1/sipteleport:
    get:
      operationId: SipTeleportService_List
      parameters:
      - explode: true
        in: query
        name: before
        required: false
        schema:
          format: uint64
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ListSipTeleportResponse'
          description: A successful response.
        '400':
          content:
            application/json:
              schema:
                type: object
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                type: object
          description: Access token is missing or invalid
        '402':
          content:
            application/json:
              schema:
                type: object
          description: Quota exceeded
        '403':
          content:
            application/json:
              schema:
                type: object
          description: Not authorized
        '404':
          content:
            application/json:
              schema:
                type: object
          description: Returned when the resource does not exist.
        '429':
          content:
            application/json:
              schema:
                type: object
          description: Too many client requests
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      tags:
      - SipTeleportService
      summary: Sip teleport service list
      x-summary-source: derived
    post:
      operationId: SipTeleportService_Create
      parameters:
      - description: Value is the returned etag of a get request.  If a retry sends an Idempotency-Key that has been seen before, the existing teleport is returned with the status code of 200
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          format: string
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CreateSipTeleport'
        description: Required parameters to create a new SIPTeleport
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SipTeleportResponse'
          description: A successful response.
        '400':
          content:
            application/json:
              schema:
                type: object
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                type: object
          description: Access token is missing or invalid
        '402':
          content:
            application/json:
              schema:
                type: object
          description: Quota exceeded
        '403':
          content:
            application/json:
              schema:
                type: object
          description: Not authorized
        '404':
          content:
            application/json:
              schema:
                type: object
          description: Returned when the resource does not exist.
        '429':
          content:
            application/json:
              schema:
                type: object
          description: Too many client requests
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      tags:
      - SipTeleportService
      summary: Sip teleport service create
      x-summary-source: derived
  /v1/sipteleport/{id}:
    delete:
      operationId: SipTeleportService_Delete
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SipTeleportResponse'
          description: A successful response.
        '400':
          content:
            application/json:
              schema:
                type: object
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                type: object
          description: Access token is missing or invalid
        '402':
          content:
            application/json:
              schema:
                type: object
          description: Quota exceeded
        '403':
          content:
            application/json:
              schema:
                type: object
          description: Not authorized
        '404':
          content:
            application/json:
              schema:
                type: object
          description: Returned when the resource does not exist.
        '429':
          content:
            application/json:
              schema:
                type: object
          description: Too many client requests
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      tags:
      - SipTeleportService
      summary: Sip teleport service delete
      x-summary-source: derived
    get:
      operationId: SipTeleportService_Get
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SipTeleportResponse'
          description: A successful response.
          headers:
            ETag:
              description: Include in the headers of a subsequent PUT to avoid concurrency issues
              explode: false
              schema:
                type: integer
              style: simple
        '400':
          content:
            application/json:
              schema:
                type: object
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                type: object
          description: Access token is missing or invalid
        '402':
          content:
            application/json:
              schema:
                type: object
          description: Quota exceeded
        '403':
          content:
            application/json:
              schema:
                type: object
          description: Not authorized
        '404':
          content:
            application/json:
              schema:
                type: object
          description: Returned when the resource does not exist.
        '429':
          content:
            application/json:
              schema:
                type: object
          description: Too many client requests
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      tags:
      - SipTeleportService
      summary: Sip teleport service get
      x-summary-source: derived
    put:
      operationId: SipTeleportService_Update
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1UpdateSipTeleport'
        description: Parameters to update an existing SIPTeleport, minimum requirement of one of them defined to update
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SipTeleportResponse'
          description: A successful response.
        '400':
          content:
            application/json:
              schema:
                type: object
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                type: object
          description: Access token is missing or invalid
        '402':
          content:
            application/json:
              schema:
                type: object
          description: Quota exceeded
        '403':
          content:
            application/json:
              schema:
                type: object
          description: Not authorized
        '404':
          content:
            application/json:
              schema:
                type: object
          description: Returned when the resource does not exist.
        '429':
          content:
            application/json:
              schema:
                type: object
          description: Too many client requests
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      tags:
      - SipTeleportService
      summary: Sip teleport service update
      x-summary-source: derived
components:
  schemas:
    v1SipTeleportResponse:
      example:
        date_updated: 2000-01-23 04:56:07+00:00
        teleport_entry_points:
        - address: address
        - address: address
        date_created: 2000-01-23 04:56:07+00:00
        name: name
        destination: destination
        id: id
      properties:
        id:
          type: string
        name:
          type: string
        destination:
          type: string
        teleport_entry_points:
          items:
            $ref: '#/components/schemas/v1TeleportAddresses'
          type: array
        status:
          $ref: '#/components/schemas/v1SipTeleportStatus'
        date_created:
          format: date-time
          type: string
        date_updated:
          format: date-time
          type: string
      type: object
    v1SipTeleportStatus:
      default: UNKNOWN
      enum:
      - UNKNOWN
      - DISABLED
      - ENABLED
      type: string
    v1NextPage:
      example:
        before: before
        limit: 1
      properties:
        before:
          format: uint64
          type: string
        limit:
          format: int64
          type: integer
      type: object
    v1UpdateSipTeleport:
      properties:
        name:
          description: Name of SIPTeleport
          type: string
        destination:
          description: Destination of SIPTeleport
          type: string
        status:
          $ref: '#/components/schemas/v1SipTeleportStatus'
      required:
      - destination
      - name
      - status
      type: object
    rpcStatus:
      type: object
    v1TeleportAddresses:
      example:
        address: address
      properties:
        address:
          type: string
        transport_type:
          $ref: '#/components/schemas/v1TransportType'
      type: object
    v1ListSipTeleportResponse:
      example:
        next_page:
          before: before
          limit: 1
        data:
        - date_updated: 2000-01-23 04:56:07+00:00
          teleport_entry_points:
          - address: address
          - address: address
          date_created: 2000-01-23 04:56:07+00:00
          name: name
          destination: destination
          id: id
        - date_updated: 2000-01-23 04:56:07+00:00
          teleport_entry_points:
          - address: address
          - address: address
          date_created: 2000-01-23 04:56:07+00:00
          name: name
          destination: destination
          id: id
      properties:
        data:
          items:
            $ref: '#/components/schemas/v1SipTeleportResponse'
          type: array
        next_page:
          $ref: '#/components/schemas/v1NextPage'
      type: object
    v1TransportType:
      default: UDP_TCP
      enum:
      - UDP_TCP
      - TLS
      type: string
    v1CreateSipTeleport:
      properties:
        name:
          description: Name of SIPTeleport
          type: string
        destination:
          description: Destination of SIPTeleport
          type: string
        status:
          description: 'Enum: [ ENABLED, DISABLED ]'
          type: string
      required:
      - destination
      - name
      type: object
  securitySchemes:
    accessCode:
      flows:
        clientCredentials:
          scopes:
            accelerators:read: allows reading details about provisioned PacketAccelerators
            accelerators:write: allows administration of PacketAccelerators
            console:access: allows access to the console
            sipteleport:read: allows reading details about provisioned SIPTeleport
            sipteleport:write: allows administration of SIPTeleport
            projects:read: allows reading details about projects
            webrtccdn:access: allows administration of WebRTC-CDN
            rtpspeed:read: allows reading details about rtpspeed
            rtpspeed:write: allows administration of rtpspeed
          tokenUrl: https://id.subspace.com/oauth/token
      type: oauth2
externalDocs:
  description: Learn more with examples
  url: https://subspace.com/
