openapi: 3.2.0
info:
  contact:
    email: sales@subspace.com
    name: Sales
    url: https://subspace.com
  description: '# Introduction


    The Subspace API is based on REST, has resource-oriented URLs, returns JSON-encoded responses, and returns standard HTTP response codes.'
  license:
    name: CC BY-NC-ND 4.0
    url: https://creativecommons.org/licenses/by-nc-nd/4.0/
  title: Subspace Product Accelerator Service API
  version: '1.0'
servers:
- description: Current API host server
  url: https://api.subspace.com
security:
- accessCode:
  - accelerators:read
  - accelerators:write
  - sipteleport:read
  - sipteleport:write
tags:
- name: AcceleratorService
paths:
  /v1/accelerator:
    get:
      operationId: AcceleratorService_List
      parameters:
      - explode: true
        in: query
        name: before
        required: false
        schema:
          format: uint64
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ListAcceleratorResponse'
          description: A successful response.
        '400':
          content:
            application/json:
              schema:
                type: object
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                type: object
          description: Access token is missing or invalid
        '402':
          content:
            application/json:
              schema:
                type: object
          description: Quota exceeded
        '403':
          content:
            application/json:
              schema:
                type: object
          description: Not authorized
        '404':
          content:
            application/json:
              schema:
                type: object
          description: Returned when the resource does not exist.
        '429':
          content:
            application/json:
              schema:
                type: object
          description: Too many client requests
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      tags:
      - AcceleratorService
      summary: Accelerator service list
      x-summary-source: derived
    post:
      operationId: AcceleratorService_Create
      parameters:
      - description: Value is the returned etag of a get request.  If a retry sends an Idempotency-Key that has been seen before, the existing accelerator is returned with the status code of 200
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          format: string
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body'
        description: Required parameters to create a new PacketAccelerator.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Accelerator'
          description: A successful response.
        '400':
          content:
            application/json:
              schema:
                type: object
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                type: object
          description: Access token is missing or invalid
        '402':
          content:
            application/json:
              schema:
                type: object
          description: Quota exceeded
        '403':
          content:
            application/json:
              schema:
                type: object
          description: Not authorized
        '404':
          content:
            application/json:
              schema:
                type: object
          description: Returned when the resource does not exist.
        '429':
          content:
            application/json:
              schema:
                type: object
          description: Too many client requests
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
        '201':
          content:
            application/json:
              schema:
                type: string
          description: Accelerator created
      tags:
      - AcceleratorService
      summary: Accelerator service create
      x-summary-source: derived
  /v1/accelerator/{id}:
    delete:
      operationId: AcceleratorService_Delete
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DeleteAcceleratorResponse'
          description: A successful response.
        '400':
          content:
            application/json:
              schema:
                type: object
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                type: object
          description: Access token is missing or invalid
        '402':
          content:
            application/json:
              schema:
                type: object
          description: Quota exceeded
        '403':
          content:
            application/json:
              schema:
                type: object
          description: Not authorized
        '404':
          content:
            application/json:
              schema:
                type: object
          description: Returned when the resource does not exist.
        '429':
          content:
            application/json:
              schema:
                type: object
          description: Too many client requests
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      tags:
      - AcceleratorService
      summary: Accelerator service delete
      x-summary-source: derived
    get:
      operationId: AcceleratorService_Get
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Accelerator'
          description: A successful response.
          headers:
            ETag:
              description: Include in the headers of a subsequent PUT to avoid concurrency issues
              explode: false
              schema:
                type: integer
              style: simple
        '400':
          content:
            application/json:
              schema:
                type: object
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                type: object
          description: Access token is missing or invalid
        '402':
          content:
            application/json:
              schema:
                type: object
          description: Quota exceeded
        '403':
          content:
            application/json:
              schema:
                type: object
          description: Not authorized
        '404':
          content:
            application/json:
              schema:
                type: object
          description: Returned when the resource does not exist.
        '429':
          content:
            application/json:
              schema:
                type: object
          description: Too many client requests
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      tags:
      - AcceleratorService
      summary: Accelerator service get
      x-summary-source: derived
    put:
      operationId: AcceleratorService_Update
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: If-Match
        required: false
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body_1'
        description: Parameters to update an existing PacketAccelerator
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Accelerator'
          description: A successful response.
        '400':
          content:
            application/json:
              schema:
                type: object
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                type: object
          description: Access token is missing or invalid
        '402':
          content:
            application/json:
              schema:
                type: object
          description: Quota exceeded
        '403':
          content:
            application/json:
              schema:
                type: object
          description: Not authorized
        '404':
          content:
            application/json:
              schema:
                type: object
          description: Returned when the resource does not exist.
        '429':
          content:
            application/json:
              schema:
                type: object
          description: Too many client requests
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
        '409':
          content:
            application/json:
              schema:
                type: string
          description: Edit conflict
      tags:
      - AcceleratorService
      summary: Accelerator service update
      x-summary-source: derived
components:
  schemas:
    body_1:
      properties:
        name:
          description: Name of PacketAccelerator
          type: string
      type: object
    v1ListAcceleratorResponse:
      example:
        next_page:
          before: before
          limit: 1
        data:
        - subspace_port: 6
          destination_ip: destination_ip
          destination_port: 0
          name: name
          subspace_ipv4: subspace_ipv4
          id: id
        - subspace_port: 6
          destination_ip: destination_ip
          destination_port: 0
          name: name
          subspace_ipv4: subspace_ipv4
          id: id
      properties:
        data:
          items:
            $ref: '#/components/schemas/v1Accelerator'
          type: array
        next_page:
          $ref: '#/components/schemas/v1NextPage'
      type: object
    v1NextPage:
      example:
        before: before
        limit: 1
      properties:
        before:
          format: uint64
          type: string
        limit:
          format: int64
          type: integer
      type: object
    rpcStatus:
      type: object
    v1Accelerator:
      example:
        subspace_port: 6
        destination_ip: destination_ip
        destination_port: 0
        name: name
        subspace_ipv4: subspace_ipv4
        id: id
      properties:
        destination_ip:
          type: string
        destination_port:
          format: int64
          type: integer
        id:
          type: string
        name:
          type: string
        subspace_ipv4:
          title: "Protocol\tprotocol\t\t= 5;\nstring\tsubspace_ip\t\t= 8;"
          type: string
        subspace_port:
          format: int64
          type: integer
      type: object
    v1DeleteAcceleratorResponse:
      type: object
    body:
      properties:
        name:
          description: Name of PacketAccelerator
          type: string
        destination_ip:
          description: Destination IP, e.g. 1.2.3.4
          type: string
        destination_port:
          description: Destination port, e.g. 443
          type: integer
        subspace_port:
          description: Optional per plan, Specify the Subspace-returned ingress port
          type: integer
      required:
      - destination_ip
      - destination_port
      - name
      type: object
  securitySchemes:
    accessCode:
      flows:
        clientCredentials:
          scopes:
            accelerators:read: allows reading details about provisioned PacketAccelerators
            accelerators:write: allows administration of PacketAccelerators
            console:access: allows access to the console
            sipteleport:read: allows reading details about provisioned SIPTeleport
            sipteleport:write: allows administration of SIPTeleport
            projects:read: allows reading details about projects
            webrtccdn:access: allows administration of WebRTC-CDN
            rtpspeed:read: allows reading details about rtpspeed
            rtpspeed:write: allows administration of rtpspeed
          tokenUrl: https://id.subspace.com/oauth/token
      type: oauth2
externalDocs:
  description: Learn more with examples
  url: https://subspace.com/
