openapi: 3.2.0
info:
  contact:
    email: sales@subspace.com
    name: Sales
    url: https://subspace.com
  description: '# Introduction


    The Subspace API is based on REST, has resource-oriented URLs, returns JSON-encoded responses, and returns standard HTTP response codes.'
  license:
    name: CC BY-NC-ND 4.0
    url: https://creativecommons.org/licenses/by-nc-nd/4.0/
  title: Subspace Product Web Rtc Cdn Service API
  version: '1.0'
servers:
- description: Current API host server
  url: https://api.subspace.com
security:
- accessCode:
  - accelerators:read
  - accelerators:write
  - sipteleport:read
  - sipteleport:write
tags:
- name: WebRtcCdnService
paths:
  /v1/webrtc-cdn:
    post:
      operationId: WebRtcCdnService_GetWebRtcCdn
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1WebRtcCdnResponse'
          description: A successful response.
        '400':
          content:
            application/json:
              schema:
                type: object
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                type: object
          description: Access token is missing or invalid
        '402':
          content:
            application/json:
              schema:
                type: object
          description: Quota exceeded
        '403':
          content:
            application/json:
              schema:
                type: object
          description: Not authorized
        '404':
          content:
            application/json:
              schema:
                type: object
          description: Returned when the resource does not exist.
        '429':
          content:
            application/json:
              schema:
                type: object
          description: Too many client requests
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      tags:
      - WebRtcCdnService
      summary: Web rtc cdn service get web rtc cdn
      x-summary-source: derived
components:
  schemas:
    rpcStatus:
      type: object
    v1WebRtcCdnServer:
      example:
        urls: urls
        credential: credential
        username: username
      properties:
        username:
          type: string
        credential:
          type: string
        urls:
          type: string
      type: object
    v1WebRtcCdnResponse:
      example:
        iceServers:
        - urls: urls
          credential: credential
          username: username
        - urls: urls
          credential: credential
          username: username
        ttl: 0
      properties:
        iceServers:
          items:
            $ref: '#/components/schemas/v1WebRtcCdnServer'
          type: array
        ttl:
          format: int64
          type: integer
      type: object
  securitySchemes:
    accessCode:
      flows:
        clientCredentials:
          scopes:
            accelerators:read: allows reading details about provisioned PacketAccelerators
            accelerators:write: allows administration of PacketAccelerators
            console:access: allows access to the console
            sipteleport:read: allows reading details about provisioned SIPTeleport
            sipteleport:write: allows administration of SIPTeleport
            projects:read: allows reading details about projects
            webrtccdn:access: allows administration of WebRTC-CDN
            rtpspeed:read: allows reading details about rtpspeed
            rtpspeed:write: allows administration of rtpspeed
          tokenUrl: https://id.subspace.com/oauth/token
      type: oauth2
externalDocs:
  description: Learn more with examples
  url: https://subspace.com/
